# Default ignored files
/shelf/
/.idea/workspace.xml
#Dependencies
/node_modules
/.pnp
.pnp.js
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/